
.SeasonEntry{
    width:170px;
    input[type=number]{
        width: 57px;
    }
    input[type=button]{
        width: 75px;
    }
}

#RaceTable{
    .race{
        display: table;
        // padding: 50px;
        margin: 25px;
        border: 1px solid black;
    }
}
